// media
$screen-max-width: var(--screen-max-width);
$screen-min-width: var(--screen-min-width);
$desktop-hd: 1800px;
$desktop: 1280px;
$tablets-big: 960px;
$tablets: 768px;
$phones: 460px;

//font
$font: var(--font);
//// primary colors
// text color
$text-1: var(--text-1);
$text-2: var(--text-2);
$text-3: var(--text-3);
// bg color
$bg: var(--bg);
$bg-mute: var(--bg-mute);
//// secondary colors
$secondary-500: var(--c-secondary-500);
//// decorators
// btn
$btn-br: var(--btn-br);
$btn-pdn: var(--btn-pdn);
// page content
$page-pdn: var(--page-pdn)
/* interactive hover, focus */


/* status color */

/* header */
$header-height: var(--header-height);

/* z-index */
$z-index-local-nav: 10;
$z-index-nav: 20;
$z-index-banner: 30;
$z-index-backdrop: 40;
$z-index-sidebar: 50;